// Custom colors
$secondary: #65588f;

// Typography
$font-family-sans-serif: 'Helvetica Neue', Arial, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Options
$enable-rounded: false;
$enable-important-utilities: false;
$spacer: 20px;

// Body
$body-color: $gray-900;

// Grid
$grid-gutter-width: 0;

// Card General
$card-bg: $white;
$card-border-width: 0;
$card-cap-padding-y: $spacer * 0.5 $spacer * 0.5;
$card-cap-padding-x: $spacer * 0 $spacer * 0.5;
$card-cap-color: $white;
$card-cap-bg: $gray-800;
$enable-shadows: false;

// V1-TABBAR-btn-dark 
// $gray-900: #DEE2E6;
// $btn-active-bg-tint-amount: 100%;
// $btn-active-border-tint-amount: 100%;
// $btn-disabled-opacity: 35%;
// $btn-padding-x: 20px;

// V2-TABBAR-list-group
$list-group-active-color: $gray-800;
$list-group-active-bg: $white;

$list-group-color: $secondary;
$list-group-bg: $gray-300;
$list-group-disabled-bg: $gray-600;
$list-group-disabled-color: $gray-200;
$list-group-border-width: 0;

// Card spacing
$card-spacer-y: 0;
$card-spacer-x: 0;

// V2Tab1NAV
$pagination-padding-x: $spacer;
$pagination-padding-y: $spacer;

$pagination-border-width: 1px;
$pagination-bg: $white;
$pagination-border-color: $gray-300;
$link-color: $secondary;

$link-hover-color: darken(saturate(adjust-hue($secondary, -9), 10.31), 11.96);
$pagination-hover-bg: none;

$pagination-active-bg: $white;
$pagination-active-color: $gray-800;
$pagination-active-border-color: $gray-300;
$pagination-focus-box-shadow: none;
$pagination-focus-bg: none;